{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Event Setup{% endblock %}

{% block main %}
<main>
	<div class="no-pad-bot section" id="index-banner">
		<div class="container">
			<h1 class="header center pink-text text-accent-3">Event Setup</h1>
			<div class="row center">
				<h5 class="light">Input all teams for the event being scouted!</h5>
			</div>
		</div>
	</div>

	<div class="container center">
		<div class="section">

		</div>
	</div>
</main>
{% endblock %}

{% block helptitle %}Pre Event Setup{% endblock %}
{% block helptext %}Here is where you enter in all teams that will be competing at the event! Do this before so you don't have to stress at the regional! You can find pretty much any information about an event on <a href="http://thebluealliance.com/events" target="_blank">The Blue Alliance</a>{% endblock %}
