{% extends "base.html" %}
{% load staticfiles %}

{% block title %}NerdyScout | Home{% endblock %}

{% block main %}
<main>
	<div class="no-pad-bot section" id="index-banner">
		<div class="container">
			<h1 class="header center blue-text">NerdyScout</h1>
			<div class="row center">
				<h5 class="light">Welcome to NerdyScout!</h5>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 m6 center">
					<i class="material-icons medium blue-text">equalizer</i>
					<h5 class="header center light">What is NerdyScout?</h5>
					<p>NerdyScout is an interactive scouting website</p>
				</div>
				<div class="col s12 m6 center">
					<i class="material-icons medium blue-text">trending_down</i>
					<h5 class="header center light">asdf</h5>
					<p>asdf</p>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}