{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Event Setup{% endblock %}

{% block main %}
<main>
	<div class="no-pad-bot section" id="index-banner">
		<div class="container">
			<h1 class="header center pink-text text-accent-3">Event Setup</h1>
			<div class="row center">
				<h5 class="light">Input all teams for the event being scouted!</h5>
			</div>
		</div>
	</div>

	<div class="container center">
		<div class="section">
			<form action="/api/addteam">
				<div class="row">
					<div class="input-field col s12 m6 offset-m3">
						<i class="mdi-social-person prefix"></i>
						<input id="number" name="number" type="text" class="validate">
						<label for="number">Team Number</label>
					</div>
					<div class="input-field col s12 m6 offset-m3">
						<i class="mdi-social-person prefix"></i>
						<input id="name" name="name" type="text" class="validate">
						<label for="name">Team Name</label>
					</div>
				</div>

				<div class="center">
					<button class="btn waves-effect waves-light indigo darken-2" type="submit" name="action">go
						<i class="mdi-content-send right"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</main>
{% endblock %}

{% block helptitle %}Pre Event Setup{% endblock %}
{% block helptext %}Here is where you enter in all teams that will be competing at the event! Do this before so you don't have to stress at the regional! You can find pretty much any information about an event on <a href="http://thebluealliance.com/events" target="_blank">The Blue Alliance</a>{% endblock %}

{% block js %}
		<script type="text/javascript" src="{% static 'js/setup.js' %}"></script>
{% endblock %}
